


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>


    <style>
        body {
            background-image: url('/images/ErrorBackground.png'); /* Path to your image */
            background-size: cover; /* Cover the whole page */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-position: center; /* Center the image */
        }
    </style>
<body>



<main>
    <div class="container bg-blur rounded mt-5 ">
        <h1>Oops, something went wrong!</h1>
        <hr class="my-3 bg-white w-50"/>
        <h1>Error 404</h1>
        <hr class="my-3 bg-white w-50"/>
        <h1>Please go back and try again!</h1>


    </div>
</main>


</body>


</html>