<!--ChatBotAPI_6-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body>
<header th:replace="fragments/commons::nav"></header>


<main class="container py-4">

    <div class="general-header">
        <h1 class="main-title">
            Ask TutorBot
        </h1>
        <p class="general-subtitle">Ask the TutorBot any question!</p>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="form-group-ask-question" >

                <input type="text" class="form-control" style="margin-right: 5px" id="searchInput"
                       placeholder="Enter Your Question">
                <button id="searchButton" class="btn-submit">Ask</button>

            </div>


            <div id="resultsOuterContainer" class="answer-chatbot-container" >

                <div class="offers-list">
                    <div id="searchResults"></div>
                </div>

            </div>

        </div>

    </div>

</main>

<script type="text/javascript" th:src="@{/scripts/ask-question.js}"></script>


</body>
</html>