<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>

<header th:replace="fragments/commons::nav"></header>

<main class="container py-4">
    <!-- container: bootstrap class that creates a responsive container   py: padding in the y direction -->
    <div class="offers-container">

        <div class="general-header">
            <h1 class="main-title">
                Offers on other subjects
            </h1>
            <p class="general-subtitle">Find tutoring services for Data Science topics</p>
        </div>

        <div class="offers-list-container">
            <div class="offers-list">
                <div th:each="w:${otherTutorialsAsView}" th:object="${w}" class="offer-card">

                    <div class="offer-card-content">
                        <div class="offer-header">
                            <h4 class="offer-title" th:text="*{name}"></h4>
                            <div class="offer-price">
                                <span th:text="*{price}"></span>
                                <span> EUR </span>
                                <span class="price-per">per hour</span>
                            </div>
                        </div>

                        <div class="offer-body" >
                            <p class="offer-description" th:text="*{description}"></p>
                        </div>

                        <div class="offer-footer" >
                            <div class="offer-tutor">
                                <i class="fas fa-user-graduate me-2"></i>
                                <a href="#" class="tutor-email" th:text="*{emailOfTheTutor}"></a>
                            </div>
<!--                            <a href="#" class="btn-contact">Contact Tutor</a>-->
                        </div>

                    </div>

                </div>

                <div th:if="${otherTutorialsAsView.isEmpty()}" class="no-off">
                    <i class="fas fa-search fa-3x mb-3"></i>
                    <h3>No mathematics offers available</h3>
                    <p>Check back later or explore other subject areas.</p>
                </div>

            </div>

        </div>

    </div>

<!--    <div class="advertisement advertisement1">-->
<!--        <h2 class="offer-title">Advertisement</h2>-->
<!--        <p>Place your ad here!</p>-->
<!--    </div>-->

<!--    <div class="advertisement advertisement2">-->
<!--        <img src="/images/Sparkasse.png" alt="Sparkasse Advertisement" class="rounded-image" style="width: 100%;">-->
<!--    </div>-->

</main>

</body>
</html>
